<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <h1>Latest Bid From COinMarketCap</h1>
  <p>Latest Bid: $<b id="latestBid">{{latestBid}}</b></p>
  </h4>Connection status: Connection Established</h4>

<p>Here, the latest bid will be updated automatically in 60 sec</p>
<div id="#showBidData"></div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="src/js/bid.js"></script>
  </body>
</html>